 <table class="table table-bordered">
  <thead rowspan="1">
   <tr>
    <th>Nome</th>
	  <th>Descricao</th>
	  <th>Preço</th>
	  <th>Quantidade</th>
    <th>Ação Remove</th>
   </tr>
  </thead>
  <tbody>
    <% @produtos_por_nome.each do |produtos| %>
    <tr>
      <td><%= produtos.nome %></td>
      <td><%= produtos.descricao %> </td>
      <td><%= produtos.preco %> </td>
      <td><%= produtos.quantidade %> </td>
      <td><a href="/produtos/<%= produtos.id %>/remove">Remover</a></td>
    </tr>
    <% end %>
