<!DOCTYPE html>
<html>
  <head>
    <title>Loja de Roupas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

        <%= nav_bar brand: "The Cardosos" do %>
    <%= menu_group do %>
        <%# menu_item "Início", root_url %>
        <%= menu_item "Novo Produto", "/produtos/new" %>
        <% end %> <% end %>
    <%= yield %>
    </div>
  </body>
</html>
